* {
    font-family: "MuseoSansCyrl";
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

/* Base =============== */

@import "base/mixins.scss";
@import "base/vars.scss";

/* Blocks ============== */
@import "blocks/header.scss";
@import "blocks/btn.scss";
@import "blocks/benefits.scss";
@import "blocks/consultation.scss";
@import "blocks/forms.scss";
@import "blocks/carousel.scss";
@import "blocks/catalog.scss";



/* Media ======================== */

@import "base/media.scss";




