* {
    font-family: "MuseoSansCyrl";
    scroll-behavior: smooth;
}

ul {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



.container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

/*Libs============*/
@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "libs/slick";
@import "libs/animate.min";

/* Base =============== */
@import "base/animations.scss";
@import "base/mixins.scss";
@import "base/vars.scss";

/* Blocks ============== */
@import "blocks/header.scss";
@import "blocks/btn.scss";
@import "blocks/benefits.scss";
@import "blocks/consultation.scss";
@import "blocks/forms.scss";
@import "blocks/carousel.scss";
@import "blocks/catalog.scss";
@import "blocks/reviews.scss";
@import "blocks/footer.scss";
@import "blocks/modal.scss";
@import "blocks/pageup.scss";

/* Media ======================== */
@import "base/media.scss";




