.benefits {
    min-height: 470px;
    height: 100%;
    padding: 64px 0 56px 0;
    background: #F6F6F6;

    &__title {
        margin-bottom: 61px;
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #0d0d0d;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 279px;
        text-align: center;
    }

    &__icon {
        max-width: 70px;
        width: 100%;
        margin-bottom: 34px;

        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }

    &__subtitle {
        margin-bottom: 19px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #0d0d0d;
    }

    &__dscr {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #0d0d0d;
        a {
            text-align: center;
            color:#FF0000;
            transition: color 0.3s linear;
            &:hover {
            color: #880e0e;
            }
        }
    }



}