.consultation {
    padding: 100px 0 92px 0;
    min-height: 680px;
    height: 100%;
    background: url("../img/bg2.jpg") center center/cover no-repeat;

    &__title {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        text-align: left;
        color: #fff;
    }
    &__dscr {
        margin-bottom: 35px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        color: #fff;
    }



    &__btn {
        width: 300px;
        height: 55px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.2px;
        text-align: center;
        color: #fff;
        transition: background 0.3s linear;
        &:hover {
            background: #880e0e;
        }

    }
}

