.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba($color: #000000, $alpha: .56);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 382px;
    min-height: 402px;
    background: #F2F2F2;
    padding: 38px 40px 40px 40px;

    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 40px;
        color: $primary;
        line-height: 20px;
        cursor: pointer;

    }

    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 19px;
        text-align: center;
    }
    &__dscr {
        margin-top: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
    }

    &_mini {
        min-height: 140px;
    }

    .error {
        border: 1px solid red;

        margin-bottom: 17px;
    }

    label.error {
        text-align: center;
        border: none;
    }

}

#consultation, #order, #ty {
    display: none;
}