@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.otf");
    src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff") format("woff"),
    url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.otf");
    src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff") format("woff"),
    url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.otf");
    src: url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

