.catalog {

    &__title {
        margin-bottom: 46px;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }

    &__tabs {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        list-style-type: none;

    }

    &__tab {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        height: 52px;
        width: 222px;
        border: 2px solid #D0D0D0;

        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;

        color:  #6B6B6B;

        cursor: pointer;

        transform: skewX(-25deg);
        transition: 0.2s linear;
        &:hover {
            box-shadow: 3px 3px 20px $primary;
            border: none;
        }

        div {
            transform: skewX(25deg);
        }

        &_active {
            color: #fff;
            background-color: #C70101;
            border: none;
        }


    }

}

.catalog__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}



.catalog-item {
    margin-bottom: 19px;
    width: 300px;
    min-height: 440px;
    border: 2px solid #E8E8E8;
    padding: 20px 20px 26px 20px;
    overflow: hidden;
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: 200px;
    }
    &__subtitle {
        text-align: center;
        margin-top: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
    }
    &__dscr {
        text-align: center;
        margin-top: 15px;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: #0D0D0D;
    }
    &__link {
        text-align: center;
        display: block;
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        text-decoration-line: underline;
        color: #C70101;
            &:hover {
                color: #C70101;
            }
    }


    hr {
        background: #8a8a8aa6;
        height: 2px;
        margin-bottom: 19px;
        margin-top: 20px;
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__prices {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;

        &-old {
            margin-bottom: 2px;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
    }
    &__btn {
        width: 131px;
        height: 40px;
        background: #C70101;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
        transition: background 0.2s linear;
            &:hover {
            background: #880e0e;
        }
    }

    &__wrapper {
        display: flex;
        width: calc(200% + 40px);
    }

    &__content {
        width: 50%;
        margin-right: 0px;
        transform: translateX(-100%);
        transition: 0.5s linear;
        &_active {
            transform: translateX(0%);
            margin-right: 20px;
        }
    }

    &__list {
        position: relative;
        width: 50%;
        margin-left: 20px;
        padding-right: 20px;
        padding-left: 19px;
        margin-bottom: 0;
        transition: 0.5s linear;
        list-style-type: none;
        transform: translateX(0%);
        &_active {
            transform: translateX(-100%);
            margin-left: 0px;
        }
        li {
            text-align: left;
            position: relative;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 20px;
            &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                background-color: $primary;
                top: 7px;
                left: -14px;


                }
            }
        }
    &__back {
        position: absolute;
        bottom: 0;
        left: 53%;
        transform: translateX(calc(-53% - 19px));
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        text-decoration-line: underline;
        text-transform: uppercase;

        color: #C70101;


    }

}
